.search {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: "0 2px 6px rgba(0; 0; 0; 0.3)";
  font-size: 14px;
  outline: none;
  position: absolute;
  top: 1rem;
  right: 4rem;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1200px) {
  .search {
    top: 3.5rem;
    left: 1rem;
  }
}
